.navBar {
  width:400px;
  height:100vh;
  position:sticky;
  top:0px;
  background:lightgray;
}

/* HOME STYLES */
.home{
  display:flex;
}

.ui.card{
  height:450px;
  width:200px;
  margin: 10px !important;
}

.homeGallery{
  width:100%;
  display:flex;
  padding:50px;
  flex-wrap: wrap;
}

.icon {
  margin: 2%;
  font-size: 2em;
}